<div class="card">
  <div class="card-content">
    <span class="card-title">Categories
      <a
        class="btn-floating btn-large waves-effect waves-light pink right modal-trigger"
        id="addCategory"
        href="#newCategoryForm"
      >
        <i class="material-icons">add</i>
      </a>
    </span>

    {{#if categories.length}}
      <div class="row">
        <div class="col s12">
          <table id=categoriesAvailable>
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {{#each categories}}
              <tr>
                <td>{{name}}</td>
                <td class="right">
                  <a
                    class="waves-effect waves-light btn modal-trigger"
                    href="#editCategoryForm-{{id}}"
                    id="editCategory-{{id}}"
                  >
                    <i class="material-icons">edit</i>
                  </a>
                  <a
                    class="waves-effect waves-light btn modal-trigger"
                    href="#deleteCategoryAlert-{{id}}"
                    id="deleteCategory-{{id}}"
                  >
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}
  </div>
  {{> categories/new}}
  {{#each categories}}
    {{> categories/edit errors=../errors}}
    {{> categories/delete}}
  {{/each}}
</div>
