<div class="card">
  <div class="card-content">
    <span class="card-title">Equipment
      <a id="addEquipment" class="btn-floating btn-large waves-effect waves-light pink right activator"><i class="material-icons">add</i></a>
    </span>

    {{#if equipments.length}}
      <div class="row">
        <div class="col s12">
          <table id=equipmentAvailable>
            <thead>
              <tr>
                <th>Name</th>
                <th>Total Available For Checkout</th>
                <th>Categories</th>
              </tr>
            </thead>

            <tbody>
              {{#each equipments}}
              <tr>
                <td>{{name}}</td>
                <td>{{totalForCheckout}}</td>
                <td>
                  {{#each categories}}
                  {{name}}
                  {{/each}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="card-reveal">
    <span class="card-title activator">Equipment
      <a id="close" class="btn-floating btn-large waves-effect waves-light pink right"><i class="material-icons">close</i></a>
    </span>
    <div id="newEquipmentForm" class="row">
      <form class="col s12" action="/equipments" method="post">
        {{# if equipment.errors}}
        <div class="row">
          {{#each equipment.errors}}
            <div id="equipmentError" class="col s12 pink-text">
              {{this}}
            </div>
          {{/each}}
        </div>
        {{/if}}
        <div class="row">
          <div class="input-field col s12">
            <input id="name" name="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="totalForCheckout" name="totalForCheckout" type="number" class="validate">
            <label for="totalForCheckout">Total Available for Checkout</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{#each categories}}
              <p>
                <label for="categoryIds-{{id}}">
                  <input type="checkbox" id="categoryIds-{{id}}" name="categoryIds" value="{{id}}"/>
                  <span id="categoryIds-checkbox-{{id}}">{{name}}</span>
                </label>
              </p>
            {{/each}}
          </div>
        </div>
        <button id="createEquipment" class="btn waves-effect waves-light" type="submit" name="action">Add this Equipment
          <i class="material-icons right"></i>
        </button>
      </form>
    </div>
  </div>
</div>
