<div id="editToolForm-{{id}}" class="modal">
  <div class="modal-content">
    <h4>Edit Tool</h4>
    <form class="col s12" action="/tools/{{id}}" method="post">
      {{#if errors}}
      <div class="row">
        <div id="toolError-{{id}}" class="col s12 pink-text"></div>
      </div>
      {{/if}}
      <div class="row">
        <div class="input-field col s12">
          <input
            id="toolName-{{id}}"
            name="name"
            type="text"
            value="{{name}}"
          />
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            id="toolTotalForCheckout-{{id}}"
            name="totalForCheckout"
            type="number"
            value={{totalForCheckout}}
          />
          <label for="totalForCheckout">Total Available for Checkout</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{#each allCategories}}
            <p>
              <label for="editCategoryIds{{...id}}-{{id}}">
                {{#if (isToolCategory id ...categories)}}
                  <input
                    checked
                    id="editCategoryIds{{...id}}-{{id}}"
                    name="categoryIds"
                    type="checkbox"
                    value="{{id}}"
                  />
                {{else}}
                  <input
                    id="editCategoryIds{{...id}}-{{id}}"
                    name="categoryIds"
                    type="checkbox"
                    value="{{id}}"
                  />
                {{/if}}
                <span id="editCategoryIdsCheckbox{{...id}}-{{id}}">{{name}}</span>
              </label>
            </p>
          {{/each}}
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-close btn waves-effect waves-light pink">Cancel</a>
        <button
          class="modal-close btn waves-effect waves-light"
          id="submitEditTool-{{id}}"
          type="submit" name="action"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
