<div id="newToolForm" class="modal">
  <div class="modal-content">
    <h4>New Tool</h4>
    <form
      action="/tools"
      class="col s12"
      method="post"
    >
      {{# if errors}}
      <div class="row">
        <div id="toolError" class="col s12 pink-text"></div>
      </div>
      {{/if}}
      <div class="row">
        <div class="input-field col s12">
          <input id="name" name="name" type="text">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="totalForCheckout" name="totalForCheckout" type="number">
          <label for="totalForCheckout">Total Available for Checkout</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{#each categories}}
            <p>
              <label for="categoryIds-{{id}}">
                <input type="checkbox" id="categoryIds-{{id}}" name="categoryIds" value="{{id}}"/>
                <span id="categoryIds-checkbox-{{id}}">{{name}}</span>
              </label>
            </p>
          {{/each}}
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-close btn waves-effect waves-light pink">Cancel</a>
        <button
          class="modal-close btn waves-effect waves-light"
          id="createTool"
          name="action"
          type="submit"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</div>
