<h1 id="adminGreeting">Welcome, {{currentUser.firstName}} {{currentUser.lastName}}!</h1>
{{#if equipments.length}}
  <h2>Equipment</h2>
  <div class="row">
    <div class="col s12">
      <table id=equipmentAvailable>
        <thead>
          <tr>
            <th>Name</th>
            <th>Total Available For Checkout</th>
            <th>Categories</th>
          </tr>
        </thead>

        <tbody>
          {{#each equipments}}
            <tr>
              <td>{{name}}</td>
              <td>{{totalForCheckout}}</td>
              <td>
                {{#each categories}}
                  {{name}}
                {{/each}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}

<script type="text/javascript" src="/javascripts/stickyHeaders.js"></script>
