<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#each events}}

  <p>{{title}}</p>
  <p>{{start}}</p>
  <p>{{seats}}</p>
  <p>{{seats_taken}}</p>
  <p>{{url.public}}</p>
  <p>{{color}}</p>
{{/each}}
