<h1>{{title}}</h1>

<div class="row">
  {{#each events}}
    <div class="col s12" style="background-color: {{color}}">
      <a href={{url.public}} style="color:black">
        <span>{{title}}: {{date start}} {{time start}} | {{seats_available seats seats_taken registration}}</span>
      </a>
    </div>
  {{/each}}
</div>
