{{#each days}}
<div class="row">
  <h3 class="card center-align sticky hide-on-small-only">
    {{dateLong @key}}
  </h3>
  <h4 class="card center-align sticky hide-on-med-and-up">
    {{dateShort @key}}
  </h4>
  {{#each this}}
  <div class="col s12">
    <div class="card-panel" style="background-color: {{color}}">
      <a href={{url.public}} style="color:black">
        <span class="calendarText">{{title}}: {{time start}} | {{seats_available this}}</span>
      </a>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
