<div id="editCheckoutForm-{{id}}" class="modal">
  <div class="modal-content">
    <h4>
      Edit Checkout
      <a
      class="waves-effect waves-light btn modal-trigger right"
      href="#deleteCheckoutAlert-{{id}}"
      id="deleteCheckout-{{id}}"
      >
      <i class="material-icons">delete</i>
    </a>
    </h4>
    <form
      action="/checkouts/{{id}}"
      class="col s12"
      method="post"
    >
      {{#if errors}}
        <div class="row">
          <div
            id="checkoutError-{{id}}"
            class="col s12 pink-text"
          >
          </div>
        </div>
      {{/if}}
      <div class="row">
        <div class="input-field col s12">
          <input
            id="checkout-patronName-{{id}}"
            name="patronName"
            type="text"
            value="{{patronName}}"
          />
          <label for="patronName">Patron Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            id="checkout-patronContact-{{id}}"
            name="patronContact"
            type="text"
            value="{{patronContact}}"
          />
          <label for="patronContact">Patron Contact</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select id="checkout-{{id}}-toolId" name="toolId">
            {{#each tools}}
              <option
                id="checkout-{{...id}}-toolId-{{id}}"
                value="{{id}}"
                {{isSelectedTool ...toolId id}}
              >
                {{name}}
              </option>
            {{/each}}
          </select>
          <label for="toolId">Tool</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            id="checkout-dueDate-{{id}}"
            name="dueDate"
            type="date"
            value={{formFormattedDate dueDate}}
          />
          <label for="dueDate">Due Date</label>
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-close btn waves-effect waves-light pink">Cancel</a>
        <button
          class="modal-close btn waves-effect waves-light"
          id="submitEditCheckout-{{id}}"
          type="submit" name="action"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
{{> checkouts/delete}}
