<div class="card">
  <div class="card-content">
    <span class="card-title">Checkouts
      <a
        class="btn-floating btn-large waves-effect waves-light pink right modal-trigger"
        id="addCheckout"
        href="#newCheckoutForm"
      >
        <i class="material-icons">add</i>
      </a>
    </span>

    {{#if checkouts.length}}
      <div class="row">
        <div class="col s12">
          <table id=checkoutsAvailable>
            <thead>
              <tr>
                <th>Patron Name</th>
                <th>Patron Contact</th>
                <th>Tool</th>
                <th>Due Date</th>
                <th>Returned</th>
              </tr>
            </thead>

            <tbody>
              {{#each (orderCheckouts checkouts)}}
              <tr>
                <td>{{patronName}}</td>
                <td>{{patronContact}}</td>
                <td>{{toolName}}</td>
                <td>{{dateLong dueDate}}</td>
                <td>
                  {{#if returned}}
                    <i class="material-icons">assignment_turned_in</i>
                  {{/if}}
                </td>
                <td class="right">
                  {{#if returned}}
                    <a
                    class="waves-effect waves-light btn modal-trigger disabled"
                    href="#returnCheckoutAlert-{{id}}"
                    id="returnCheckout-{{id}}"
                    >
                      <i class="material-icons">assignment_return</i>
                    </a>
                  {{else}}
                    <a
                    class="waves-effect waves-light btn modal-trigger"
                    href="#returnCheckoutAlert-{{id}}"
                    id="returnCheckout-{{id}}"
                    >
                      <i class="material-icons">assignment_return</i>
                    </a>
                  {{/if}}
                  <a
                    class="waves-effect waves-light btn modal-trigger"
                    href="#editCheckoutForm-{{id}}"
                    id="editCheckout-{{id}}"
                  >
                    <i class="material-icons">edit</i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}
  </div>
  {{> checkouts/new}}
  {{#each checkouts}}
    {{> checkouts/return}}
    {{> checkouts/edit errors=../errors tools=../tools}}
  {{/each}}
</div>
